<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello commm</h1>
    <form class="form-group" action="/comment/saveComment" th:action="@{/comment/saveComment}" method="post">
        <div class="form-group">
            <label for="file_id">File ID: </label>
            <input type="text"  class="form-control" name="file_id" id="file_id"  th:field="${newComment.file.file_id}"  />
        </div>

        <div th:if="${#strings.contains(#httpServletRequest.requestURI, '/comment/find/')}">
            <label>Comment Id :</label>
            <input type="text" class="form-control" name="comment_id" th:field="${newComment.comment_id}" />
        </div>

        <div class="form_group">
            <label>Email</label>
            <input type="text" class="form-control" name="user_email" th:field="${newComment.user_email}" />
        </div>
        <div class="form_group">
            <label> add comment</label>
            <input type="text" class="form-control" name="comment_text" th:field="${newComment.comment_text}" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <table class="table">
        <tbody >
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.user_email}">1</td>
            <td th:text="${comment.comment_text}">1</td>
            <td ><a  th:href="@{/comment/find/__${comment.comment_id}__}">Edit</a></td>
            <td><a th:href="@{/comment/delete/__${comment.comment_id}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>