<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1></h1>

    <form class="form-group" action="" method="post">

        <label for="examid">Exam Id</label>:
        <input type="text" id="examid" name="exam_id"  autofocus="autofocus"/> <br/><br/>

        <label for="examname">Exam Name</label>:
        <input type="text" id="examname" name="exam_name" autofocus="autofocus"/> <br/><br/>

        <label for="examtype">Exam Type</label>:
        <input type="text" id="examtype" name="exam_type" autofocus="autofocus"/> <br /><br/>

        <label for="year">Year</label>:
        <input type="text" id="year" name="year" autofocus="autofocus"/> <br /><br/>

        <input type="submit" value="Submit"  />
    </form>
</body>
</html>