<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="login">
        <h1>Login</h1>
        <form action="" method="">
            <p><input type="text" name="" placeholder="Enter your username"/></p>
            <p><input type="password" name="" placeholder="Enter your password"/></p>
            <p class="remerber_me">
                <label>
                    <input type="checkbox" name="remember_me" class="remember_me" >
                    Remember Me
                </label>
            </p>
            <p><input type="submit" name="submit" value="Sign In"> </p>
        </form>

    </div>

    <div class="login-help">
        <p>Not a User? <a href="register.html">Register Now</a>.</p>
    </div>
</div>
</body>
</html>