<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
    <h1>Role Page</h1>

    <form class="form-group" action="/role/saveRole" th:action="@{/role/saveRole}" method="post">
        <div class="form-group">
            <label for="id">ID: </label>
            <input type="text" readonly class="form-control" name="id" id="id" th:field="${newRole.id}" />
        </div>
        <div class="form-group">
            <label for="roleName">Role Name:</label>
            <input type="text" class="form-control" name="roleName" id="roleName" th:field="${newRole.roleName}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/role/rolePage}" class="btn btn-danger" role="button">New</a>
    </form>

    <h3 th:text="${message}"></h3>

    <table class="table">
        <thead>
        <tr>
            <th>Role Id</th>
            <th>Role Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td th:text="${role.id}">1</td>
            <td th:text="${role.roleName}">2</td>
            <td><a href="/role/findForEditRole/1" th:href="@{/role/findForEditRole/__${role.id}__}">Edit</a></td>
            <td><a href="/role/deleteRole/1" th:href="@{/role/deleteRole/__${role.id}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>