<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User Page</h1>

<form class="form-group" action="/user/saveUser" th:action="@{/user/saveUser}" method="post">
    <div class="form-group">
        <label for="id">ID: </label>
        <input type="text" readonly class="form-control" name="id" id="id" th:field="${newUser.id}" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" id="email" th:field="${newUser.email}"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" name="password" id="password" th:field="${newUser.password}"/>
    </div>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" name="firstName" id="firstName" th:field="${newUser.firstName}"/>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" name="lastName" id="lastName" th:field="${newUser.lastName}"/>
    </div>
    <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" th:field="${newUser.mobileNumber}"/>
    </div>
    <div class="form-group">
        <label for="active">Active:</label>
        <input type="text" class="form-control" name="active" id="active" th:field="${newUser.active}"/>
    </div>
    <div class="form-group">
        <label for="roleId">Role Id:</label>
        <select>
            <option th:each="role : ${roles}"
                    th:value="${role}"
                    th:text="${role.roleName} + ' (' +${role.id} + ') '"></option>
        </select>
        <input type="text" class="form-control" name="roleId" id="roleId" th:field="${newUser.roleId}"/>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" th:href="@{/user/userPage}" class="btn btn-danger" role="button">New</a>
</form>

<h3 th:text="${message}"></h3>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>email</th>
        <th>password</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>mobileNumber</th>
        <th>active</th>
        <th>roleId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.email}">2</td>
        <td th:text="${user.password}">3</td>
        <td th:text="${user.firstName}">4</td>
        <td th:text="${user.lastName}">5</td>
        <td th:text="${user.mobileNumber}">6</td>
        <td th:text="${user.active}">7</td>
        <td th:text="${user.roleId}">8</td>
        <td><a href="/user/findForEditUser/1" th:href="@{/user/findForEditUser/__${user.id}__}">Edit</a></td>
        <td><a href="/user/deleteUser/1" th:href="@{/user/deleteUser/__${user.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>